/* 
    Document   : admin-smart-posts
    Created on : २६ अक्‍तूबर, २०१४, ३:३५:१९ अपराह्न
    Author     : purab
    Description:
        Purpose of the stylesheet follows.
*/

#smart-posts-widget-cat_select{display:block}
#smart-posts-widget-tag_select{display:none}

